<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzc.dao.INotifyInputMapper">

    <select id="getCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_smnoticesendlogs
        WHERE 1=1 AND SendTime>='2018-09-11 14:24:36'
    </select>

    <select id="getNotify" resultType="com.yzc.model.Tsmnoticesendlogs">
        SELECT * FROM t_smnoticesendlogs WHERE 1=1 AND SendTime>='2018-09-11 14:24:36'
        ORDER BY SendTime ASC
        LIMIT ${offSet}, ${size}
    </select>

</mapper>